<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>CreatePost</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Create Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>

<!--Yagayya-->
      <form action="/posts/create" method="POST">
        <div>
          <label for="title">Title</label>
          <input 
            type="text" 
            id="title" 
            name="title" 
            placeholder="Enter post title" 
            value="<%= locals.formData && formData.title || '' %>"
            required
          >
        </div>
<!--Yagayya-->

        <div>
          <label for="link">Link</label>
          <input 
            type="text" 
            id="link" 
            name="link" 
            placeholder="Enter post URL" 
            required
          >
        </div>

<!--Yagayya-->
        <div>
          <label for="description">Description</label>
          <textarea 
            id="description" 
            name="description" 
            placeholder="Enter post description"
            required
          ><%= locals.formData && formData.description || '' %></textarea>
        </div>

<!--Yagayya-->

        <div>
          <label for="subgroup">Subgroup</label>
          <input 
            type="text" 
            id="subgroup" 
            name="subgroup" 
            placeholder="Enter subgroup" 
            value="<%= locals.formData && formData.subgroup || '' %>"
            required
          >
        </div>

<!--Yagayya-->

        <!-- Hidden input for creator -->
        <input 
          type="hidden" 
          name="creator" 
          value="<%= user.id %>"
        >

        <div>
          <button type="submit">Create Post</button>
        </div>
      </form>
    </main>
  </body>
</html>